In [1]:
import pandas as pd  
import numpy as np 
from collections import Counter

In [37]:
data = pd.read_csv('bank.csv', sep = ';')
columns = ['job', 'marital','education', 'default', 'housing', 'loan','contact','poutcome','response']

In [39]:
job_indicators=pd.get_dummies(data['job'],prefix='job')
data=data.join(job_indicators)
data

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,...,0,0,0,0,0,0,0,0,1,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,...,0,0,0,0,0,1,0,0,0,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,...,0,0,1,0,0,0,0,0,0,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,...,0,0,1,0,0,0,0,0,0,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,0,0
5,35,management,single,tertiary,no,747,no,no,cellular,23,...,0,0,1,0,0,0,0,0,0,0
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,...,0,0,0,0,1,0,0,0,0,0
7,39,technician,married,secondary,no,147,yes,no,cellular,6,...,0,0,0,0,0,0,0,1,0,0
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,...,1,0,0,0,0,0,0,0,0,0
9,43,services,married,primary,no,-88,yes,yes,cellular,17,...,0,0,0,0,0,1,0,0,0,0
10,39,services,married,secondary,no,9374,yes,no,unknown,20,...,0,0,0,0,0,1,0,0,0,0
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,...,0,0,0,0,0,0,0,0,0,0
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,...,0,0,0,0,0,0,0,1,0,0
13,20,student,single,secondary,no,502,no,no,cellular,30,...,0,0,0,0,0,0,1,0,0,0
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,...,0,0,0,0,0,0,0,0,0,0
15,40,management,married,tertiary,no,194,no,yes,cellular,29,...,0,0,1,0,0,0,0,0,0,0
16,56,technician,married,secondary,no,4073,no,no,cellular,27,...,0,0,0,0,0,0,0,1,0,0
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,...,0,0,0,0,0,0,0,0,0,0
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,...,0,0,0,0,0,0,0,0,0,0
19,31,services,married,secondary,no,132,no,no,cellular,7,...,0,0,0,0,0,1,0,0,0,0
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,...,0,0,1,0,0,0,0,0,0,0
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,...,0,0,1,0,0,0,0,0,0,0
22,44,services,single,secondary,no,106,no,no,unknown,12,...,0,0,0,0,0,1,0,0,0,0
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,...,1,0,0,0,0,0,0,0,0,0
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,...,0,1,0,0,0,0,0,0,0,0
25,41,management,married,tertiary,no,5883,no,no,cellular,20,...,0,0,1,0,0,0,0,0,0,0
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,0,0
27,67,retired,married,unknown,no,696,no,no,telephone,17,...,0,0,0,1,0,0,0,0,0,0
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,...,0,0,0,0,1,0,0,0,0,0
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,...,0,0,0,0,0,0,0,0,0,0
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,...,0,0,0,0,0,0,0,1,0,0
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,...,0,0,0,0,0,0,0,1,0,0
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,...,0,0,0,0,0,0,0,1,0,0
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,...,0,0,1,0,0,0,0,0,0,0
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,...,0,0,0,0,0,0,0,0,0,0
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,...,1,0,0,0,0,0,0,0,0,0
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,...,0,0,1,0,0,0,0,0,0,0
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,...,0,0,0,0,0,0,0,0,0,0
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,...,0,0,0,0,0,0,0,0,0,0
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,...,0,0,1,0,0,0,0,0,0,0
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,...,0,0,0,0,0,1,0,0,0,0
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,...,0,0,0,0,1,0,0,0,0,0
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,...,0,0,0,0,0,0,0,0,0,0
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,...,0,0,0,0,0,0,0,0,0,0
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,...,0,0,0,0,0,0,0,0,1,0
4507,33,services,married,secondary,no,288,yes,no,cellular,17,...,0,0,0,0,0,1,0,0,0,0
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,...,0,0,0,0,0,0,0,0,0,0
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,...,0,0,0,0,0,0,0,1,0,0
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,...,0,0,0,0,0,0,0,1,0,0
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,...,0,0,0,0,0,0,0,0,0,0
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,...,0,0,0,0,0,0,0,0,0,0
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,...,0,0,0,0,0,0,0,0,0,0
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,...,0,0,0,0,0,0,0,0,0,0
4515,32,services,single,secondary,no,473,yes,no,cellular,7,...,0,0,0,0,0,1,0,0,0,0
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,...,0,0,0,0,0,1,0,0,0,0
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,...,0,0,0,0,1,0,0,0,0,0
4518,57,technician,married,secondary,no,295,no,no,cellular,19,...,0,0,0,0,0,0,0,1,0,0
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,...,0,0,0,0,0,0,0,0,0,0
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,...,1,0,0,0,0,0,0,0,0,0

In [40]:
data['whitecollar']=data['job_management']+data['job_entrepreneur']+data['job_self-employed']
data['bluecollar']=data['job_blue-collar']+data['job_services']+data['job_technician']+data['job_housemaid']

In [41]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,whitecollar,bluecollar
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,...,0,0,0,0,0,0,1,0,0,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,...,0,0,0,1,0,0,0,0,0,1
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,...,1,0,0,0,0,0,0,0,1,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,...,1,0,0,0,0,0,0,0,1,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,0,1
5,35,management,single,tertiary,no,747,no,no,cellular,23,...,1,0,0,0,0,0,0,0,1,0
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,...,0,0,1,0,0,0,0,0,1,0
7,39,technician,married,secondary,no,147,yes,no,cellular,6,...,0,0,0,0,0,1,0,0,0,1
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,...,0,0,0,0,0,0,0,0,1,0
9,43,services,married,primary,no,-88,yes,yes,cellular,17,...,0,0,0,1,0,0,0,0,0,1
10,39,services,married,secondary,no,9374,yes,no,unknown,20,...,0,0,0,1,0,0,0,0,0,1
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,...,0,0,0,0,0,0,0,0,0,0
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,...,0,0,0,0,0,1,0,0,0,1
13,20,student,single,secondary,no,502,no,no,cellular,30,...,0,0,0,0,1,0,0,0,0,0
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,...,0,0,0,0,0,0,0,0,0,1
15,40,management,married,tertiary,no,194,no,yes,cellular,29,...,1,0,0,0,0,0,0,0,1,0
16,56,technician,married,secondary,no,4073,no,no,cellular,27,...,0,0,0,0,0,1,0,0,0,1
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,...,0,0,0,0,0,0,0,0,0,0
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,...,0,0,0,0,0,0,0,0,0,1
19,31,services,married,secondary,no,132,no,no,cellular,7,...,0,0,0,1,0,0,0,0,0,1
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,...,1,0,0,0,0,0,0,0,1,0
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,...,1,0,0,0,0,0,0,0,1,0
22,44,services,single,secondary,no,106,no,no,unknown,12,...,0,0,0,1,0,0,0,0,0,1
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,...,0,0,0,0,0,0,0,0,1,0
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,...,0,0,0,0,0,0,0,0,0,1
25,41,management,married,tertiary,no,5883,no,no,cellular,20,...,1,0,0,0,0,0,0,0,1,0
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,0,1
27,67,retired,married,unknown,no,696,no,no,telephone,17,...,0,1,0,0,0,0,0,0,0,0
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,...,0,0,1,0,0,0,0,0,1,0
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,...,0,0,0,0,0,0,0,0,0,1
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,...,0,0,0,0,0,1,0,0,0,1
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,...,0,0,0,0,0,1,0,0,0,1
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,...,0,0,0,0,0,1,0,0,0,1
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,...,1,0,0,0,0,0,0,0,1,0
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,...,0,0,0,0,0,0,0,0,0,1
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,...,0,0,0,0,0,0,0,0,1,0
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,...,1,0,0,0,0,0,0,0,1,0
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,...,0,0,0,0,0,0,0,0,0,1
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,...,0,0,0,0,0,0,0,0,0,0
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,...,1,0,0,0,0,0,0,0,1,0
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,...,0,0,0,1,0,0,0,0,0,1
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,...,0,0,1,0,0,0,0,0,1,0
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,...,0,0,0,0,0,0,0,0,0,1
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,...,0,0,0,0,0,0,0,0,0,0
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,...,0,0,0,0,0,0,1,0,0,0
4507,33,services,married,secondary,no,288,yes,no,cellular,17,...,0,0,0,1,0,0,0,0,0,1
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,...,0,0,0,0,0,0,0,0,0,0
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,...,0,0,0,0,0,1,0,0,0,1
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,...,0,0,0,0,0,1,0,0,0,1
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,...,0,0,0,0,0,0,0,0,0,1
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,...,0,0,0,0,0,0,0,0,0,1
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,...,0,0,0,0,0,0,0,0,0,1
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,...,0,0,0,0,0,0,0,0,0,1
4515,32,services,single,secondary,no,473,yes,no,cellular,7,...,0,0,0,1,0,0,0,0,0,1
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,...,0,0,0,1,0,0,0,0,0,1
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,...,0,0,1,0,0,0,0,0,1,0
4518,57,technician,married,secondary,no,295,no,no,cellular,19,...,0,0,0,0,0,1,0,0,0,1
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,...,0,0,0,0,0,0,0,0,0,1
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,...,0,0,0,0,0,0,0,0,1,0

In [44]:
bank_selected=data[data['previous']==0]
data_for_clustering=pd.DataFrame(bank_selected,columns=['age','whitecollar','bluecollar','divorced','married','primary',
                                                        'secondary','tertiary'])

marital_indicators=pd.get_dummies(data['marital'],prefix='marital')
marital_indicators

      job_divorced  job_married  job_single
0                0            1           0
1                0            1           0
2                0            0           1
3                0            1           0
4                0            1           0
5                0            0           1
6                0            1           0
7                0            1           0
8                0            1           0
9                0            1           0
10               0            1           0
11               0            1           0
12               0            1           0
13               0            0           1
14               0            1           0
15               0            1           0
16               0            1           0
17               0            0           1
18               0            0           1
19               0            1           0
20               1            0           0
21               1            0           0
22               0            0           1
23               0            1           0
24               0            1           0
25               0            1           0
26               0            1           0
27               0            1           0
28               0            1           0
29               0            1           0
...            ...          ...         ...
4491             0            0           1
4492             0            0           1
4493             0            0           1
4494             0            0           1
4495             0            1           0
4496             0            0           1
4497             0            0           1
4498             0            1           0
4499             1            0           0
4500             0            1           0
4501             0            1           0
4502             0            1           0
4503             0            1           0
4504             0            0           1
4505             0            0           1
4506             1            0           0
4507             0            1           0
4508             0            1           0
4509             0            1           0
4510             1            0           0
4511             0            1           0
4512             0            1           0
4513             0            1           0
4514             0            1           0
4515             0            0           1
4516             0            1           0
4517             0            1           0
4518             0            1           0
4519             0            1           0
4520             0            0           1

[4521 rows x 3 columns]