In [72]:
import pandas as pd  
import numpy as np 
from collections import Counter

# 加载数据

In [73]:
data = pd.read_csv('bank.csv', sep = ';')
columns = ['job', 'marital','education', 'default', 'housing', 'loan','contact','poutcome','response']

# 统计job marital education变量

In [74]:
##job
job_indicators=pd.get_dummies(data['job'],prefix='job')
data=data.join(job_indicators)
data['whitecollar']=data['job_management']+data['job_entrepreneur']+data['job_self-employed']
data['bluecollar']=data['job_blue-collar']+data['job_services']+data['job_technician']+data['job_housemaid']

##marital
marital_indicators=pd.get_dummies(data['marital'])
data=data.join(marital_indicators)

##education
education_indicators=pd.get_dummies(data['education'])
data=data.join(education_indicators)

# 选择用于聚类分析的数据

In [78]:
bank_selected=data[data['previous']==0]
data_for_clustering=pd.DataFrame(bank_selected,columns=['age','whitecollar','bluecollar','divorced','married','primary',
                                                        'secondary','tertiary'])
                                 
data_for_clustering_matrix=data_for_clustering.as_matrix()
data_for_clustering_matrix

array([[30,  0,  0, ...,  1,  0,  0],
       [30,  1,  0, ...,  0,  0,  1],
       [59,  0,  1, ...,  0,  1,  0],
       ...,
       [33,  0,  1, ...,  0,  1,  0],
       [57,  1,  0, ...,  0,  0,  1],
       [57,  0,  1, ...,  0,  1,  0]], dtype=int64)

In [79]:
bankfull=pd.DataFrame(bank_selected,columns=['response','age',
                    'whitecollar','bluecollar','divorced','married','primary',
                    'secondary','tertiary'])

# K-Means算法聚类

In [80]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

### 选取不同的K值进行聚类查看效果

In [81]:

##选取2到20不同的K值
for k in range(2,21):
    print("k: "+str(k))
    y_pred = KMeans(n_clusters=k, random_state=9999).fit_predict(data_for_clustering_matrix)
    silhouette_avg = silhouette_score(data_for_clustering_matrix, y_pred)
    print(silhouette_avg)

k: 2
0.601534349147598
k: 3
0.5299715327937059
k: 4
0.4713176700211876
k: 5
0.47726254626141335
k: 6
0.4664339177454313
k: 7
0.44494542752512234
k: 8
0.42324257583348124
k: 9
0.40344867023527364
k: 10
0.37844375945020015
k: 11
0.3789253996697508
k: 12
0.35099118238440274
k: 13
0.34618101513667154
k: 14
0.31782823152947676
k: 15
0.30344649329597756
k: 16
0.30838392737406234
k: 17
0.29564932476744477
k: 18
0.2829007728090323
k: 19
0.2731624736581588
k: 20
0.2843265661311533

### 选取k=2进行聚类

In [83]:
y_predict = KMeans(n_clusters=2, random_state=9999).fit_predict(data_for_clustering_matrix)
bankfull['cluster']=y_predict
bankfull

,response,age,whitecollar,bluecollar,divorced,married,primary,secondary,tertiary,cluster
0,no,30,0,0,0,1,1,0,0,0
3,no,30,1,0,0,1,0,0,1,0
4,no,59,0,1,0,1,0,1,0,1
7,no,39,0,1,0,1,0,1,0,0
8,no,41,1,0,0,1,0,0,1,0
10,no,39,0,1,0,1,0,1,0,0
11,no,43,0,0,0,1,0,1,0,0
12,no,36,0,1,0,1,0,0,1,0
13,yes,20,0,0,0,0,0,1,0,0
15,no,40,1,0,0,1,0,0,1,0
16,no,56,0,1,0,1,0,1,0,1
18,no,25,0,1,0,0,1,0,0,0
20,no,38,1,0,1,0,0,0,0,0
21,no,42,1,0,1,0,0,0,1,0
22,no,44,0,1,0,0,0,1,0,1
23,no,44,1,0,0,1,0,1,0,1
24,no,26,0,1,0,1,0,0,1,0
25,no,41,1,0,0,1,0,0,1,0
26,no,55,0,1,0,1,1,0,0,1
28,no,56,1,0,0,1,0,1,0,1
29,no,53,0,0,0,1,0,1,0,1
30,yes,68,0,0,1,0,0,1,0,1
31,no,31,0,1,0,1,0,1,0,0
32,no,59,1,0,0,1,0,1,0,1
33,yes,32,1,0,0,0,0,0,1,0
34,yes,49,0,1,0,1,0,0,1,1
35,no,42,0,0,1,0,0,1,0,0
36,yes,78,0,0,1,0,1,0,0,1
37,yes,32,0,1,0,1,0,1,0,0
39,no,23,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4483,no,31,0,1,0,1,0,1,0,0
4484,yes,38,1,0,0,1,0,0,1,0
4486,no,37,0,1,0,1,1,0,0,0
4487,no,49,1,0,1,0,0,1,0,1
4490,no,58,0,0,0,1,0,1,0,1
4491,no,35,0,1,0,0,0,1,0,0
4493,no,28,0,1,0,0,0,0,1,0
4494,yes,26,0,1,0,0,0,1,0,0
4495,no,48,1,0,0,1,0,0,1,1
4496,no,30,0,1,0,0,0,1,0,0
4497,no,31,1,0,0,0,0,0,1,0
4498,no,31,1,0,0,1,0,0,1,0
4499,no,45,0,1,1,0,1,0,0,1
4500,no,38,0,0,0,1,0,1,0,0
4501,no,34,1,0,0,1,0,0,1,0
4502,no,42,0,1,0,1,0,1,0,0
4503,yes,60,1,0,0,1,1,0,0,1
4505,yes,32,0,0,0,0,0,1,0,0
4506,no,42,0,0,1,0,0,0,1,0
4507,no,33,0,1,0,1,0,1,0,0
4508,no,42,0,0,0,1,0,0,0,0
4509,no,51,0,1,0,1,0,0,1,1
4510,no,36,0,1,1,0,0,1,0,0
4511,yes,46,0,1,0,1,0,1,0,1
4512,no,40,0,1,0,1,0,1,0,0
4513,no,49,0,1,0,1,0,1,0,1
4515,no,32,0,1,0,0,0,1,0,0
4516,no,33,0,1,0,1,0,1,0,0
4517,no,57,1,0,0,1,0,0,1,1
4518,no,57,0,1,0,1,0,1,0,1

In [84]:
segments=bankfull.groupby('cluster')
segments.describe()

            age                                                    bluecollar  \
          count       mean       std   min   25%   50%   75%   max      count
cluster
0        2303.0  34.293964  5.064226  19.0  31.0  34.0  38.0  43.0     2303.0
1        1402.0  52.236805  6.489732  44.0  47.0  51.0  56.0  87.0     1402.0

                  ...  tertiary      whitecollar                           \
             mean ...       75%  max       count      mean       std  min
cluster           ...
0        0.531481 ...       1.0  1.0      2303.0  0.298741  0.457805  0.0
1        0.460770 ...       0.0  1.0      1402.0  0.281740  0.450008  0.0


         25%  50%  75%  max
cluster
0        0.0  0.0  1.0  1.0
1        0.0  0.0  1.0  1.0

[2 rows x 64 columns]