In [1]:
import pandas as pd  
import numpy as np 
from collections import Counter

In [2]:
data = pd.read_csv('studenmunds_restaurants.csv')
data

     sales  competition  population  income
0   107919            3       65044   13240
1   118866            5      101376   22554
2    98579            7      124989   16916
3   122015            2       55249   20967
4   152827            3       73775   19576
5    91259            5       48484   15039
6   123550            8      138809   21857
7   160931            2       50244   26435
8    98496            6      104300   24024
9   108052            2       37852   14987
10  144788            3       66921   30902
11  164571            4      166332   31573
12  105564            3       61951   19001
13  102568            5      100441   20058
14  103342            2       39462   16194
15  127030            5      139900   21384
16  166755            6      171740   18800
17  125343            6      149894   15289
18  121886            3       57386   16702
19  134594            6      185105   19093
20  152937            3      114520   26502
21  109622            3       52933   18760
22  149884            5      203500   33242
23   98388            4       39334   14988
24  140791            3       95120   18505
25  101260            3       49200   16839
26  139517            4      113566   28915
27  115236            9      194125   19033
28  136749            7      233844   19200
29  105067            7       83416   22833
30  136872            6      183953   14409
31  117146            3       60457   20307
32  163538            2       65065   20111